/* main variables */
h1 {
  font-size: 36pt;
  color: #fafafa;
  text-shadow: 2px 2px #000000;
}
h3 {
  font-size: 22pt;
  color: #fafafa;
  text-shadow: 2px 2px #000000;
}
blockquote {
  font-size: 13pt;
  color: #fafafa;
  text-shadow: 1px 1px #000000;
}
hr {
  border: 1px solid #fafafa;
}
* {
  box-sizing: border-box;
}
/* background image */
.mainbody,
.mainhtml {
  background: #dadbe0;
  background-image: url(../imgs/home-background.jpg);
  height: auto;
  /* removed for css error */
  /*background-attachment: relative;*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.logo {
  float: left;
  color: #000000;
  text-decoration: none;
  padding: 15px;
  font-size: 20px;
  font-weight: bolder;
}
.search {
  float: right;
  padding: 5px;
  width: 30%;
}
/* Style navigation menu */
.topnav {
  clear: both;
  display: flex;
  align-items: center;
  background-color: #fafafa;
  opacity: 0.7;
  box-shadow: 5px 5px 5px #000000;
  padding: 20px;
}
.hamburger {
  display: none;
}
/* Style navigation menu links */
.topnav a {
  color: #000000;
  text-decoration: none;
  padding: 15px;
  font-size: 20px;
  font-weight: bolder;
}
.topnav a:hover {
  background-color: #000000;
  color: #fafafa;
}
/* main container */
.main {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box1 {
  justify-content: center;
  align-items: center;
}
.box2 {
  justify-content: flex-end;
  align-items: flex-end;
  justify-self: flex-end;
  align-self: flex-end;
  padding: 15px;
  color: #fafafa;
}
#quote {
  float: right;
}
.box3 {
  justify-content: center;
}
/* travel button */
.button1 {
  background-color: #fafafa;
  background-image: linear-gradient(#545d61, #fafafa);
  color: #000000;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 #000000, 0 6px 20px 0 #000000;
  margin-bottom: 25px;
  padding: 15px;
  font-size: 14pt;
  font-weight: bold;
  transition: transform 3s;
}
.button1:hover {
  box-shadow: 0 4px 8px 0 #fafafa, 0 6px 20px 0 #fafafa;
  cursor: pointer;
  transform: rotate(360deg);
}
/* travel page */
/* travel page background */
.travelbody,
.travelhtml {
  background: #dadbe0;
  background-image: url(../imgs/home-background.jpg);
  height: auto;
  /* removed for css error */
  /*background-attachment: relative;*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.travelh1 {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 36pt;
  color: #fafafa;
  text-shadow: 2px 2px #000000;
  text-decoration: underline;
}
.travelmain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.travelmain .states {
  display: flex;
  flex-direction: row;
  background: #dadbe0;
  opacity: 0.8;
  width: 45%;
  border: 1px solid #000000;
  box-shadow: 5px 5px 5px #000000;
  margin: 5px;
}
.travelmain .states hr {
  border: 1px solid #000000;
}
.travelmain figure {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.travelmain figure a {
  padding-right: 15px;
}
.travelmain figure a:hover {
  box-shadow: 0 4px 8px 0 #fafafa, 0 6px 20px 0 #000000;
  cursor: pointer;
}
.travelmain figcaption {
  padding-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
figure img {
  height: 100px;
  width: 100px;
}
/* states pages */
.statebody,
.statehtml {
  background: #dadbe0;
  background-image: url(../imgs/state-page-background.jpg);
  height: auto;
  /* removed for css error */
  /*background-attachment: relative;*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.statebody .logo,
.statehtml .logo {
  color: #fafafa;
}
.stateh1 {
  margin: 5px;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 36pt;
  color: #fafafa;
  text-shadow: 1px 1px #000000;
  text-decoration: underline;
}
.statemain {
  display: flex;
  flex-direction: column;
}
.statemain h2 {
  align-self: center;
  width: 80%;
  margin: 0;
  padding: 0;
  font-size: 30pt;
  color: #fafafa;
  text-shadow: 1px 1px #000000;
  text-decoration: underline;
}
.statemain .statesections {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-self: center;
  background: #dadbe0;
  opacity: 0.9;
  width: 90%;
  border: 1px solid #000000;
  box-shadow: 5px 5px 5px #000000;
  margin: 10px;
}
.statemain .statesections figure {
  margin: 5px;
  padding: 0;
  width: 20%;
  height: auto;
}
.statemain .statesections figure img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}
.statemain .statesections p {
  margin: 5px;
  padding: 0;
  width: 70%;
  font-size: 13pt;
  letter-spacing: 1px;
  line-height: 1.5;
  word-wrap: break-word;
}
/* contact page */
.contactbody,
.contacthtml {
  background: #dadbe0;
  background-image: url(../imgs/home-background.jpg);
  height: auto;
  /* removed for css error */
  /*background-attachment: relative;*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.contacth1 {
  margin: 10px;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 36pt;
  color: #fafafa;
  text-shadow: 2px 2px #000000;
  text-decoration: underline;
}
.contactmain {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.contactmain section {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
  border: 2px solid #000000;
  border-radius: 15px;
  background: #dadbe0;
  opacity: 0.9;
  box-shadow: 5px 5px 5px #000000;
}
.contactmain h2 {
  align-self: center;
  margin: 0;
  padding: 0;
  font-size: 30pt;
  color: #fafafa;
  text-shadow: 1px 1px #000000;
  text-decoration: underline;
}
.contactmain p {
  margin: 5px;
  padding: 0;
  font-size: 13pt;
  word-wrap: break-word;
}
.contactmain .contactsection1 {
  width: 70%;
}
.contactmain .contactsection1 fieldset {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 3px;
}
.contactmain .contactsection1 label {
  margin: 3px;
}
.contactmain .contactsection1 input {
  margin: 3px;
}
.contactmain .contactsection1 .field1 label {
  width: 20%;
}
.contactmain .contactsection1 .field1 input {
  width: 20%;
}
.contactmain .contactsection1 textarea {
  width: 100%;
  height: auto;
}
.contactmain .contactsection1 .submit {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 10px;
  padding: 5px;
  width: 15%;
  height: auto;
}
.contactmain .contactsection2 {
  width: 30%;
}
.contactmain .contactsection2 li {
  list-style-type: none;
  margin: 10px 10px 30px 10px;
  padding: 10px;
  font-size: 30pt;
}
.contactmain .contactsection2 li a {
  text-decoration: none;
  color: blue;
}
/*Elements for footer*/
footer {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #fafafa;
  opacity: 0.7;
  box-shadow: 5px 5px 5px #000000;
}
.footer ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 5px 5px;
}
.footer li {
  float: left;
  padding: 3px;
  text-align: center;
}
.footer li a {
  display: inline-block;
  padding: 10px 15px;
  color: #000000;
  font-weight: bolder;
  text-decoration: none;
}
.footer li a:hover {
  background: #000000;
  color: #fafafa;
}
footer form {
  padding: 10px 15px;
}
/*  Responsive view for screens less than 850px wide */
@media screen and (max-width: 850px) {
  /* Style navigation menu */
  .topnav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .myLinks {
    display: flex;
  }
  .search {
    width: 35%;
  }
  .travelmain {
    flex-direction: column;
    width: 100%;
  }
  .travelmain .states {
    width: 100%;
  }
  .contactmain {
    flex-direction: column;
  }
  .contactmain .contactsection1 {
    width: 100%;
  }
  .contactmain .contactsection2 {
    width: 100%;
  }
  footer {
    flex-direction: column;
    flex-wrap: wrap;
  }
  footer li {
    width: 33.3%;
  }
}
/*  Responsive view for screens less than 650px wide */
@media screen and (max-width: 650px) {
  .search {
    width: 45%;
  }
  .hamburger {
    display: initial;
  }
  .topnav {
    display: flex;
    flex-direction: column;
  }
  .icon {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .myLinks a {
    display: flex;
    flex-direction: column;
  }
  .myLinks {
    width: 100%;
    display: none;
  }
  footer {
    flex-direction: column;
    flex-wrap: wrap;
  }
  footer li {
    width: 33.3%;
  }
  .travelmain {
    flex-direction: column;
    width: 100%;
  }
  .travelmain .states {
    width: 100%;
  }
}
